[submodule "make"]
	path = make
	url = https://github.com/renatocf/make.git
[submodule "external/gbenchmark"]
	path = external/gbenchmark
	url = https://github.com/google/benchmark.git
	ignore = dirty
[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "external/probability"]
	path = external/probability
	url = https://github.com/renatocf/probability.git
	ignore = dirty
